body {
  background-color: sandybrown;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  text-align: center;
  text-transform: uppercase;
}
h2 {
  text-transform: capitalize;
  text-decoration: underline;
}

.main,
.addFoodForm {
  width: 50%;
  margin: 0 auto;
}
.main ul {
  max-height: 45vh;
  overflow-y: scroll;
}
.addFoodForm {
  border: 1px solid white;
  padding: 1%;
}

.addFoodForm form {
  width: 100%;
}
.addFoodForm form input {
  width: 100%;
  margin: 1% auto;
  display: block;
  text-align: center;
}
.addFoodForm button {
  width: 100%;
  padding: 1% 0;
}

.flashed {
  font-weight: bold;
  font-size: large;
  color: green;
}

.main ul li {
  list-style: none;
}
